@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- STEP6.(FIM) - IMPRIMIR E BAIXAR ARQUIVOS -->
<div id="step-6" class="tab-pane" role="tabpanel" aria-labelledby="step-5">
    <form id="form-6" class="row row-cols-1 needs-validation" novalidate>
        <div class="card align-content-center text-center text-white bg-dark mb-2">
            <div class="card-body">
                ARQUIVOS
            </div>
        </div>
        <div class="row mb-2">
            <div class="d-flex bg-white align-items-center fw-bold">Imprima os documentos abaixo, assine e envie para avaliação utilizando os botões abaixo:</div>
        </div><tr />
        <div class="row">
            <div class="d-flex bg-light fw-bold align-items-center">FORMULÁRIOS PESSOA FÍSICA</div>
        </div>
        <br />
        <div class="row">
            <div class="d-flex bg-white align-items-center">
                TERMO DE ADESÃO AO DISPOSITIVO DE SEGURANÇA - TOKEN POR SMS
                <div class="p-2 flex-grow-1 bd-highlight"></div>
                <div class="p-2 bd-highlight">
                    <i class="fa fa-cloud-download"></i>
                </div>
                <div class="p-2 bd-highlight">
                    <i class="fa fa-cloud-upload"></i>
                </div>
                @*<div class="p-2 bd-highlight">
                <i class="fa fa-print"></i>
                </div>*@
            </div>
        </div>
        <div class="row">
            <div class="d-flex bg-light align-items-center">
                Ficha Cadastral
                <div class="p-2 flex-grow-1 bd-highlight"></div>
                <div class="p-2 bd-highlight">
                    <i class="fa fa-cloud-download"></i>
                </div>
                <div class="p-2 bd-highlight">
                    <i class="fa fa-print"></i>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="d-flex bg-white align-items-center">
                Contrato de acesso ao BIBNET
                <div class="p-2 flex-grow-1 bd-highlight"></div>
                <div class="p-2 bd-highlight">
                    <i class="fa fa-cloud-download"></i>
                </div>
                <div class="p-2 bd-highlight">
                    <i class="fa fa-print"></i>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="d-flex bg-light align-items-center">
                Questionário Fatca e CRS
                <div class="p-2 flex-grow-1 bd-highlight"></div>
                <div class="p-2 bd-highlight">
                    <i class="fa fa-cloud-download"></i>
                </div>
                <div class="p-2 bd-highlight">
                    <i class="fa fa-print"></i>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="d-flex bg-white align-items-center">
                Cartão de assinatura
                <div class="p-2 flex-grow-1 bd-highlight"></div>
                <div class="p-2 bd-highlight">
                    <i class="fa fa-cloud-download"></i>
                </div>
                <div class="p-2 bd-highlight">
                    <i class="fa fa-print"></i>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="d-flex bg-light align-items-center">
                Documentos do checklist
                <div class="p-2 flex-grow-1 bd-highlight"></div>
                <div class="p-2 bd-highlight">
                    <i class="fa fa-cloud-download"></i>
                </div>
                <div class="p-2 bd-highlight">
                    <i class="fa fa-print"></i>
                </div>
            </div>
        </div>

    </form>
</div>
